--prefer-binary
numpy==1.26.4
blis==0.7.10
spacy==3.7.4
streamlit
beautifulsoup4
joblib
lightgbm
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
