--prefer-binary
blis==0.7.11
streamlit
spacy==3.7.2
beautifulsoup4
joblib
lightgbm
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
